@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family: 'Amiko' ; */
    /* font-family: 'Poppins'; */
}
body {
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 60px;
    }
  }
html {
    scroll-behavior: smooth;
}
.subList{
    width: 45%;
}
.vid{
  height: 400px;
  width: 711.11px;
}

@media (max-width: 790px) { 
    .subList{
        margin: 5px 0px;
        width: 95%;
    }
    .myContainer{
        flex-direction: column;
    }
    .vid{
      height: 207.1875px;
      width: 370px;
    }
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
.blogImage{
  margin: 16px 0px;
  width: 100vw;
  border-radius: 20px; /* Adjust the value to control the amount of curve */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Adjust the shadow as needed */
}